@model ItineraryFormData

<div class="col-xl-9 mx-auto">
    <h1 class="mb-5">Where would you like to go ?</h1>
</div>
<div class="col-xl-12 mx-auto">
    @using (Html.BeginForm("FormOne", "Form", FormMethod.Post))
    {
        <div class="form-row" style="align-items:center;">
            <div class="col-md-1 mb-2 mb-md-0 h3">
                From
            </div>
            <div class="col-md-3 mb-2 mb-md-0">
                @Html.TextBoxFor(m => m.DepartureTextBoxData, new { @class = "form-control form-control-lg" , @placeholder = "departure..", @id = "departure", @list = "stationsList"})
            </div>
            <div class="col-md-1 mb-2 mb-md-0 h3">
                To
            </div>
            <div class="col-md-3 mb-2 mb-md-0">
                @Html.TextBoxFor(m => m.ArrivalTextBoxData, new { @class = "form-control form-control-lg" , @placeholder = "arrival..", @id = "addival", @list = "stationsList"})
            </div>
            <div class="col-md-1 mb-2 mb-md-0">
            </div>
            <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Take me there ! </button>
            </div>
            <datalist id="stationsList">
                <option value = "Chateau de Vincennes" />
                <option value = "Berault" />
                <option value = "Saint-Mande" />
                <option value = "Porte de Vincennes" />
                <option value = "Nation" />
                <option value = "Reuilly-Diderot" />
                <option value = "Gare de Lyon" />
                <option value = "Bastille" />
                <option value = "Saint-Paul (Le Marais)" />
                <option value = "Hotel de Ville" />
                <option value = "Chatelet" />
                <option value = "Louvre-Rivoli" />
                <option value = "Palais-Royal (Musee du Louvre)" />
                <option value = "Tuileries" />
                <option value = "Concorde" />
                <option value = "Champs-Elysees-Clemenceau" />
                <option value = "Franklin-Roosevelt" />
                <option value = "George V" />
                <option value = "Charles de Gaulle-Etoile" />
                <option value = "Argentine" />
                <option value = "Porte Maillot" />
                <option value = "Les Sablons (Jardin d'acclimatation)" />
                <option value = "Pont de Neuilly" />
                <option value = "Esplanade de la Defense" />
                <option value = "La Defense (Grande Arche)" />
                <option value = "Avron" />
                <option value = "Alexandre-Dumas" />
                <option value = "Philippe Auguste" />
                <option value = "Pere-Lachaise" />
                <option value = "Menilmontant" />
                <option value = "Couronnes" />
                <option value = "Belleville" />
                <option value = "Colonel Fabien" />
                <option value = "Jaures" />
                <option value = "Stalingrad" />
                <option value = "La Chapelle" />
                <option value = "Barbes-Rochechouart" />
                <option value = "Anvers" />
                <option value = "Pigalle" />
                <option value = "Blanche" />
                <option value = "Place de Clichy" />
                <option value = "Rome" />
                <option value = "Villiers" />
                <option value = "Monceau" />
                <option value = "Courcelles" />
                <option value = "Ternes" />
                <option value = "Victor Hugo" />
                <option value = "Porte Dauphine (Marechal de Lattre de Tassigny)" />
                <option value = "Gallieni (Parc de Bagnolet)" />
                <option value = "Porte de Bagnolet" />
                <option value = "Gambetta" />
                <option value = "Rue Saint-Maur" />
                <option value = "Parmentier" />
                <option value = "Republique" />
                <option value = "Temple" />
                <option value = "Arts-et-Metiers" />
                <option value = "Reaumur-Sebastopol" />
                <option value = "Sentier" />
                <option value = "Bourse" />
                <option value = "Quatre Septembre" />
                <option value = "Opera" />
                <option value = "Havre-Caumartin" />
                <option value = "Saint-Lazare" />
                <option value = "Europe" />
                <option value = "Malesherbes" />
                <option value = "Wagram" />
                <option value = "Pereire" />
                <option value = "Porte de Champerret" />
                <option value = "Louise Michel" />
                <option value = "Anatole-France" />
                <option value = "Pont de Levallois-Becon" />
                <option value = "Porte de Clignancourt" />
                <option value = "Simplon" />
                <option value = "Marcadet-Poissonniers" />
                <option value = "Chateau Rouge" />
                <option value = "Gare du Nord" />
                <option value = "Gare de l'Est (Verdun)" />
                <option value = "Chateau d'Eau" />
                <option value = "Strasbourg-Saint-Denis" />
                <option value = "Etienne Marcel" />
                <option value = "Les Halles" />
                <option value = "Cite" />
                <option value = "Saint-Michel" />
                <option value = "Odeon" />
                <option value = "Saint-Germain des Pres" />
                <option value = "Saint-Sulpice" />
                <option value = "Saint-Placide" />
                <option value = "Montparnasse-Bienvenue" />
                <option value = "Vavin" />
                <option value = "Raspail" />
                <option value = "Denfert-Rochereau" />
                <option value = "Mouton-Duvernet" />
                <option value = "Alesia" />
                <option value = "Porte d'Orleans (General Leclerc)" />
                <option value = "Mairie de Montrouge" />
                <option value = "Bobigny-Pablo-Picasso" />
                <option value = "Bobigny-Pantin (Raymond Queneau)" />
                <option value = "Eglise de Pantin" />
                <option value = "Hoche" />
                <option value = "Porte de Pantin" />
                <option value = "Ourcq" />
                <option value = "Laumiere" />
                <option value = "Jacques-Bonsergent" />
                <option value = "Oberkampf" />
                <option value = "Richard-Lenoir" />
                <option value = "Breguet-Sabin" />
                <option value = "Quai de la Rapee" />
                <option value = "Gare d'Austerlitz" />
                <option value = "Saint-Marcel" />
                <option value = "Campo-Formio" />
                <option value = "Place d'Italie" />
                <option value = "Picpus" />
                <option value = "Bel-Air" />
                <option value = "Daumesnil (Felix Eboue)" />
                <option value = "Dugommier" />
                <option value = "Bercy" />
                <option value = "Quai de la Gare" />
                <option value = "Chevaleret" />
                <option value = "Nationale" />
                <option value = "Corvisart" />
                <option value = "Glaciere" />
                <option value = "Saint-Jacques" />
                <option value = "Edgar-Quinet" />
                <option value = "Pasteur" />
                <option value = "Sevres-Lecourbe" />
                <option value = "Cambronne" />
                <option value = "La Motte-Picquet-Grenelle" />
                <option value = "Dupleix" />
                <option value = "Bir-Hakeim (Grenelle)" />
                <option value = "Passy" />
                <option value = "Trocadero" />
                <option value = "Boissiere" />
                <option value = "Kleber" />
                <option value = "La Courneuve-8-Mai-1945" />
                <option value = "Fort d'Aubervilliers" />
                <option value = "Aubervilliers Pantin (4 Chemins)" />
                <option value = "Porte de la Villette" />
                <option value = "Corentin-Cariou" />
                <option value = "Crimee" />
                <option value = "Riquet" />
                <option value = "Louis Blanc" />
                <option value = "Chateau Landon" />
                <option value = "Poissonniere" />
                <option value = "Cadet" />
                <option value = "Le Peletier" />
                <option value = "Chaussee d'Antin (La Fayette)" />
                <option value = "Pyramides" />
                <option value = "Pont Neuf" />
                <option value = "Pont Marie (Cite des Arts)" />
                <option value = "Sully-Morland" />
                <option value = "Jussieu" />
                <option value = "Place Monge (Jardin des Plantes)" />
                <option value = "Censier-Daubenton" />
                <option value = "Les Gobelins" />
                <option value = "Tolbiac" />
                <option value = "Maison Blanche" />
                <option value = "Porte d'Italie" />
                <option value = "Porte de Choisy" />
                <option value = "Porte d'Ivry" />
                <option value = "Pierre et Marie Curie" />
                <option value = "Mairie d'Ivry" />
                <option value = "Le Kremlin-Bicetre" />
                <option value = "Villejuif-Leo Lagrange" />
                <option value = "Villejuif-Paul Vaillant Couturier (Hopital Paul Brousse)" />
                <option value = "Villejuif-Louis Aragon" />
                <option value = "Pre-Saint-Gervais" />
                <option value = "Danube" />
                <option value = "Botzaris" />
                <option value = "Buttes-Chaumont" />
                <option value = "Bolivar" />
                <option value = "Place des Fetes" />
                <option value = "Balard" />
                <option value = "Lourmel" />
                <option value = "Boucicaut" />
                <option value = "Felix Faure" />
                <option value = "Commerce" />
                <option value = "Ecole Militaire" />
                <option value = "La Tour-Maubourg" />
                <option value = "Invalides" />
                <option value = "Madeleine" />
                <option value = "Richelieu-Drouot" />
                <option value = "Grands Boulevards" />
                <option value = "Bonne Nouvelle" />
                <option value = "Filles du Calvaire" />
                <option value = "Saint-Sebastien-Froissart" />
                <option value = "Chemin Vert" />
                <option value = "Ledru-Rollin" />
                <option value = "Faidherbe-Chaligny" />
                <option value = "Montgallet" />
                <option value = "Michel Bizot" />
                <option value = "Porte Doree" />
                <option value = "Porte de Charenton" />
                <option value = "Liberte" />
                <option value = "Charenton-Ecoles" />
                <option value = "Ecole Veterinaire de Maisons-Alfort" />
                <option value = "Maisons-Alfort-Stade" />
                <option value = "Maisons-Alfort-Les Juilliottes" />
                <option value = "Creteil-L'Echat (Hopital Henri Mondor)" />
                <option value = "Creteil-Universite" />
                <option value = "Creteil-Prefecture (Hotel de Ville)" />
                <option value = "Pointe du Lac" />
                <option value = "Pont de Sevres" />
                <option value = "Billancourt" />
                <option value = "Marcel Sembat" />
                <option value = "Porte de Saint-Cloud" />
                <option value = "Exelmans" />
                <option value = "Michel-Ange-Molitor" />
                <option value = "Michel-Ange-Auteuil" />
                <option value = "Jasmin" />
                <option value = "Ranelagh" />
                <option value = "La Muette" />
                <option value = "Rue de la Pompe (Avenue Georges Mandel)" />
                <option value = "Iena" />
                <option value = "Alma-Marceau" />
                <option value = "Saint-Philippe du Roule" />
                <option value = "Miromesnil" />
                <option value = "Saint-Augustin" />
                <option value = "Saint-Ambroise" />
                <option value = "Voltaire (Leon Blum)" />
                <option value = "Charonne" />
                <option value = "Rue des Boulets" />
                <option value = "Buzenval" />
                <option value = "Maraichers" />
                <option value = "Porte de Montreuil" />
                <option value = "Robespierre" />
                <option value = "Croix-de-Chavaux (Jacques Duclos)" />
                <option value = "Mairie de Montreuil" />
                <option value = "Boulogne Pont de Saint-Cloud" />
                <option value = "Boulogne-Jean-Jaures" />
                <option value = "Porte d'Auteuil" />
                <option value = "Chardon-Lagache" />
                <option value = "Mirabeau" />
                <option value = "Javel-Andre-Citroen" />
                <option value = "Charles Michels" />
                <option value = "Avenue Emile-Zola" />
                <option value = "Segur" />
                <option value = "Duroc" />
                <option value = "Vaneau" />
                <option value = "Sevres-Babylone" />
                <option value = "Mabillon" />
                <option value = "Cluny-La Sorbonne" />
                <option value = "Maubert-Mutualite" />
                <option value = "Cardinal-Lemoine" />
                <option value = "Eglise d'Auteuil" />
                <option value = "Mairie des Lilas" />
                <option value = "Porte des Lilas" />
                <option value = "Telegraphe" />
                <option value = "Jourdain" />
                <option value = "Pyrenees" />
                <option value = "Goncourt (Hopital Saint-Louis)" />
                <option value = "Rambuteau" />
                <option value = "Mairie d'Issy" />
                <option value = "Corentin-Celton" />
                <option value = "Porte de Versailles" />
                <option value = "Convention" />
                <option value = "Vaugirard (Adolphe Cherioux)" />
                <option value = "Volontaires" />
                <option value = "Falguiere" />
                <option value = "Notre-Dame des Champs" />
                <option value = "Rennes" />
                <option value = "Rue du Bac" />
                <option value = "Solferino" />
                <option value = "Assemblee Nationale" />
                <option value = "Trinite-d'Estienne d'Orves" />
                <option value = "Notre-Dame de Lorette" />
                <option value = "Saint-Georges" />
                <option value = "Abbesses" />
                <option value = "Lamarck-Caulaincourt" />
                <option value = "Jules Joffrin" />
                <option value = "Marx-Dormoy" />
                <option value = "Porte de la Chapelle" />
                <option value = "Front Populaire" />
                <option value = "Chatillon Montrouge" />
                <option value = "Malakoff-Rue Etienne Dolet" />
                <option value = "Malakoff-Plateau de Vanves" />
                <option value = "Porte de Vanves" />
                <option value = "Plaisance" />
                <option value = "Pernety" />
                <option value = "Gaite" />
                <option value = "Saint-Francois-Xavier" />
                <option value = "Varenne" />
                <option value = "Liege" />
                <option value = "La Fourche" />
                <option value = "Guy-Moquet" />
                <option value = "Porte de Saint-Ouen" />
                <option value = "Garibaldi" />
                <option value = "Mairie de Saint-Ouen" />
                <option value = "Carrefour-Pleyel" />
                <option value = "Saint-Denis - Porte de Paris" />
                <option value = "Basilique de Saint-Denis" />
                <option value = "Saint-Denis-Universite" />
                <option value = "Brochant" />
                <option value = "Porte de Clichy" />
                <option value = "Mairie de Clichy" />
                <option value = "Gabriel-Peri" />
                <option value = "Les Agnettes" />
                <option value = "Asnieres-Gennevilliers Les Courtilles" />
                <option value = "Cour Saint-Emilion" />
                <option value = "Bibliotheque-Francois Mitterrand" />
                <option value = "Olympiades" />
            </datalist>
        </div>
    }
</div>
