@model IEnumerable<RATP.Models.Line>  
  
@{  
    ViewBag.Title = "RATP Project ";  
}  
<div class="container">
    <h2>Welcome to our RATP App!</h2>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>