@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            @Html.Partial("../Forms/Index")
        </div>
    </div>
</header>

@Html.Partial("HomeMap", ViewData["stations"])

