@{
    ViewData["Title"] = "Result Page";
}

<div class="container">
    <div class="row">
        <ul class="list-group col-4">
            @foreach(var x in (dynamic)ViewData["path"])
            {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @x.Name
                <span class="badge badge-primary badge-pill">@x.LineID</span>
            </li>
            }
        </ul>
        <div class="col-8">
            @Html.Partial("ResultMap", ViewData["jsonPath"])
        </div>
    </div>
</div>

